* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Chicle", sans-serif;
}
h1 {
  color: salmon;
  text-align: center;
}

.background {
  background-image: url(savanah.jpg);
}
a {
  text-decoration: none
}
.Africa {
  background-image: url(images/Africa.png);
  background-repeat: no-repeat;
}
.Antarctica {
  background-image: url(images/Antarctica.png)
}
.Asia {
  background-image: url(images/Asia.png)
}
.Europe {
  background-image: url(images/Europe.png)
}
.NorthAmerica {
  background-image: url(images/NorthAmerica.png)
}
.SouthAmerica {
  background-image: url(images/SouthAmerica.png)
}
.Oceania {
  background-image: url(images/Oceania.png)
}
p {
  text-align: center;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 6%;
}

.continent {
  color: #61B3E6;
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto  auto auto auto auto auto auto auto auto auto auto auto auto  auto auto auto auto auto auto ;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
  border: 0px;
}
.grid-item {
<<<<<<< Updated upstream
    border: 0px solid #2196F3;
||||||| constructed merge base
    border: 1px solid rgba(0, 0, 0, 0.8);
=======
  border: 1px solid rgba(0, 0, 0, 0.8);
>>>>>>> Stashed changes
  font-size: 30px;
  text-align: center;
<<<<<<< Updated upstream
||||||| constructed merge base
  
=======

>>>>>>> Stashed changes
  padding: 10px;
}
.car {
  height: 500px;
}
.buttonMain {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #81cf1a93;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
a.button4:hover {
  border-color: rgb(255, 0, 0);
}
@media all and (max-width: 30em) {
   a.button4 {
    display: block;
    margin: 0.2em auto;
  }
<<<<<<< Updated upstream
  a.button4:hover{
    border-color: rgb(255, 0, 0);
    }
    @media all and (max-width:30em){
     a.button4{
    display:block;
    margin:0.2em auto;
  }
||||||| constructed merge base
  a.button4:hover{
    border-color: rgb(255, 0, 0);
    }
    @media all and (max-width:30em){
     a.button4{
    display:block;
    margin:0.2em auto;
  }
=======
}

.africa-bg {
  background-image: url("../public/images/Africa.png") pink;
}
>>>>>>> Stashed changes
